<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- Servlets -->
  <servlet>
    <servlet-name>dictionaryServlet</servlet-name>
    <servlet-class>com.colewe.ws1819.server.DictionaryServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryServlet</servlet-name>
    <url-pattern>/semesterproject/dictionary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>com.colewe.ws1819.server.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/semesterproject/download</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>semesterproject.html</welcome-file>
  </welcome-file-list>
</web-app>
